<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Bank app</title>
</head>
<body>
<h2>Welcome to Bank App</h2>
<div>
    <form th:action="@{/logout}" method="post">
        <input type="submit" value="Sign Out"/>
    </form>
</div>
<!-- Подключаем фрагмент с профилем -->
<div th:replace="~{fragments/user-profile :: userProfile(${userDto})}"></div>
<div th:replace="~{fragments/cash-operations :: cashOperations(${userDto})}"></div>

<div th:replace="~{fragments/user-profile :: notAuthenticated}"></div>
</body>
</html>